
.block{
	width: 60%;
	background-color: #ff9999;
	border: 2px solid #ea3c53;
	box-sizing: border-box;
	padding: 15px;
	margin: 15px auto;
}

.block ol{
	background-color: #b0c4de;
	border: 1px solid #446ccf;
}